nav {
    padding: 5px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 2;
}

a {
    font-size: 12px;

}

/* --------------TABLET------------------- */
@media screen and (min-width: 600px){
    ul { 
        width: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    li{
        width: fit-content;
    }
    


}



/* -------------- PC ----------------------- */
@media screen and (min-width: 1024px) {

}